<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="refresh" content="0; url=http://www.greenyoga.com.au/" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Redirecting to www.greenyoga.com.au</p>
  </body>
</html>
